@charset "UTF-8";
body {
    margin: 0;
}
button {
    border: 0;
    background-color: white;
    padding: 6px 30px;
    outline: 0;
}
.header {
    background-color: var(--white-gray-color);
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.header_nav {
    display:flex;
    flex-direction: row;
    margin: 0px 150px;
}

.header_nav .header_logo {
    width: 100px;
    height: 100px;
    background-color: var(--temp-color);
}

.header_nav .header_nav_project{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.header_nav_project a {
    color: #515151;
    padding: 0px 15px;
    font-size: 20px;
}
.header_nav_project a:hover {
    color: black;
}
.header_member {
    margin: 0px 150px;
}
.header_member .header_login {
    background-color: gray;
    width: 200px;
    height: 60px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.header_member .header_login:hover {
    background-color: white;
    color: black;
}
.header_member .header_gaip {
    background-color: var(--blue-color);
    width: 200px;
    height: 60px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.header_member .header_gaip:hover {
background-color: white;
color: black;
}